<section class="page" id="section-about" #sectionAbout>
  <div class="overlay">
    <div class="container">
      <div class="top-section" appIsVisible>
        <div class="avatar"></div>

        <ul class="social py-3">
          <li><a href="https://www.instagram.com/marcinpiwarski" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/pifarek" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/ma.piwarski" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UComOdG_YgwrKWHbseT1OQJA" target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>

        <h2 class="pb-3">Welcome visitor! ;)</h2>

        <p>
          When I moved to UK, I started to discover new beautiful places. I tried to take pictures with my mobile phone, but was not really happy with the results. So I decided to buy my first Digital Camera. I chose a portable mirrorless Canon EOS M50 with three lenses 15-45mm, 55-200mm and 22mm F2.0.
          <br><br>
          Probably I should stay with that, then I bought drone DJI Mavic Air 2 and started experimenting on different level (literally ;-) )
          <br><br>
          I'm not trying to be a professional photographer - it's just my passion. I'll try to post here pictures from my trips around the UK (and maybe other countries when I win lottery ;-))
        </p>
      </div>
    </div>
  </div>
</section>
